@using DiveO.Services
@model DiveO.ViewModels.PhotoViewModel

<div class="row">
    <div class="well col-sm-8 col-sm-offset-2">
        <div id="image-container">
            @{
                var img = new ImageProcessor().ByteToImage(Model.Photo.PhotoBytes);
            }
            <img src="@img" height="500" width="500" />
        </div>
    </div>
</div>